$theme-dark: #1e1e1e;
$theme-normal: #252526;
$theme-light: #333333;
$color-font: #e0e0e0;
$color-shadow: rgba(0, 0, 0, 0.3);
$color-overlay: rgba(255, 255, 255, 0.08);
$color-alert: #fab1a0;
$color-selected: #0984e3;
$color-patched: #c51162;
$color-highlight: #29d;
$color-active: #4caf50;

:export {
  themeDark: $theme-dark;
  themeNormal: $theme-normal;
  themeLight: $theme-light;
  colorFont: $color-font;
  colorShadow: $color-shadow;
  colorOverlay: $color-overlay;
  colorAlert: $color-alert;
  colorSelected: $color-selected;
  colorPatched: $color-patched;
  colorHighlight: $color-highlight;
  colorActive: $color-active;
}
